<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="MainLogFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="log/report.log" />
        <param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout" >
            <param name="ConversionPattern" value="[%t] - %m%n" />
        </layout>
    </appender>

    <appender name="FuelColumnAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="log/fuelColumn-report.log" />
        <param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout" >
            <param name="ConversionPattern" value="[%t] - %m%n" />
        </layout>
    </appender>

    <appender name="TransportAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="log/transport-report.log" />
        <param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout" >
            <param name="ConversionPattern" value="[%t] - %m%n" />
        </layout>
    </appender>

    <logger name="by.epam.javatraining.aksenov.task5.model.entity.FuelColumn">
        <appender-ref ref="FuelColumnAppender"/>
    </logger>

    <logger name="by.epam.javatraining.aksenov.task5.model.entity.Transport">
        <appender-ref ref="TransportAppender"/>
    </logger>

    <root>
        <level value="TRACE" />
        <appender-ref ref="MainLogFile" />
    </root>
</log4j:configuration>